# git
.git
.gitignore

# secrets
service_account.json
canonical_mapping_master.json
alcohol-service-agent.json
*.secret.json
*.key.json
*.pem
.env
.env.*

# python cache/venv
__pycache__/
*.py[cod]
*.pyd
.venv
venv

# data/output (not needed in image)
processed/
data/
*.xlsx
*.xls
*.csv
*.parquet
*.log

# misc
*.ipynb_checkpoints
node_modules

# Neo4j data and logs
neo4j_data/
data/
logs/
import/
plugins/


#logs
*.log
graph_offers_debug.txt
typing_debug.txt
matrix_merger_debug.txt
matrix_debug.txt
text_parser_debug.txt
graph_normalizer_debug.txt
normalizer_debug.txt
text_extractors_debug.txt
project_debug.txt
access_debug.txt
location_debug.txt
prices_debug.txt
access_location_debug.txt
parser_debug.txt
distillator_debug.txt
name_enricher_debug.txt

#Excel files
*.xlsx