# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
.venv/
env/
venv/
ENV/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# dotenv
*.env

# Test docs (оставим папку, но исключим файлы)
test_documents/*
!test_documents/.gitkeep
